//-
   1. if else
   2 unless
   3 case when
doctype html
html
   head
   body
      h2 判断
         h3 if else
         - var isTrue = true
         - var persons = ['zhangsan','lisi']
         if persons
            if persons[0] == 'zhangsan'
               p I am zhangsan
            else if persons[1] == 'lisi'
               p I am lisi
            else
               p I don't know you

         h2 unless
         unless !isTrue
            p #{persons.length}

         h2 switch
         - var name = 'zf';
         case name
            when 'zf'
            when 'px'
               p Hello zfpx
            when 'zz'
               p zz
            default
               p Hi #{name}