extends layout

block content
  .container(style="background-image:url('/images/background.png');width:800px;height:600px;position:relative;")
    include include/reg
    include include/menu
    include include/throw