doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
  body(style="margin-top:70px;font-family:'Microsoft YaHei' ! important;")
    block content
  script(src='/lib/jquery/dist/jquery.js')
  script(src='/lib/bootstrap/dist/js/bootstrap.js')
  script(src='/javascripts/drift.js')